server:
  port: ${PORT:8080}

spring:
  application:
    name: oasis-api

  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:oasisdb_bph7}
    username: ${DB_USER:oasisdbuser}
    password: ${DB_PASSWORD:oasisdbpassword}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

logging:
  level:
    com.oasis: INFO
    org.springframework: INFO